.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.screenshot {
  height: 70vh;
}

.code {
  text-align: left;
}

footer {
  height: 20vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
}

.score {
  position: fixed;
  left: 20px;
  bottom: 10px;
  font-size: 250%;
}

.correct {
  color: green;
}

.percentCorrect {
  color: gray;
}

.countdown {
  position: fixed;
  right: 20px;
  bottom: 10px;
  font-size: 250%;
  color: red;
}